@font-face {
  src: url("../font/Overpass-VariableFont_wght.ttf") format("truetype-variations"),
  url("../font/Overpass-Italic-VariableFont_wght.ttf") format("truetype-variations");
  font-family: 'Overpass';
  font-weight: 400 700;
}

:root {
  --primary-color: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --font-size: 15px;
}

.App {
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  margin: 0;
  display: flex;
  width: 90%;
  height: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(#212832, #161a20);

  font-size: var(--font-size);

  .card-content {
    font-family: "Overpass", serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px;

    .star-container {
      display: flex;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background-color: var(--dark-blue);
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;

      img {
        width: 14px;
        height: 14px;
      }

    }


    .thank-you-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      img {
        margin-top: 10px
      }
      .selected-rating {
        font-family: "Overpass", serif;
        vertical-align: middle;
        font-size: var(--font-size);
        color: var(--primary-color);
        background-color: var(--dark-blue);
        padding: 5px 10px;
        margin: 30px;
        border-radius: 50px;
      }
    }
    h1 {
      font-family: "Overpass", serif;
      font-size: 24px;
      font-weight: 700;
      color: var(--white);
      margin: 0;
    }

    p {
      font-family: "Overpass", serif;
      color: var(--medium-grey);
      font-size: 14px;
      margin-bottom: 25px;
    }

    ul {
      margin-top: 0;
      margin-bottom: 25px;
      width: 100%;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      li {
        padding: 0;

        button {
          font-family: "Overpass", serif;

          border-radius: 50px;
          border: none;
          width: 40px;
          height: 40px;
          background-color: var(--dark-blue);
          color: var(--medium-grey);
          font-weight: 700;
          transition: color 300ms, background-color 300ms;
          &:hover{
            color:var(--white) ;
            background-color: var(--primary-color);
          }
          &.button-selected{
            color: var(--white);
            background-color: var(--medium-grey);
          }
        }
      }
    }

    .cta {
      background-color: var(--primary-color);
      color: var(--white);
      width: 100%;
      height: 45px;
      border-radius: 50px;
      border: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 12px;
      font-weight: 400;
      transition: color 300ms, background-color 300ms;

      &:hover{
        color: var(--primary-color);
        background-color: var(--white);
      }
    }
  }

}


@media screen and (width > 375px) {
  .card {
    max-width: 400px;
  }
}
